* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


a {
  text-decoration: none;
  
}

body {
  background: grey;
  font-family: 'Roboto', sans-serif;
  
}

.container {
  
  text-align: center;
  width: 300px;
  margin: 60px auto;

}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: #93F9B9 solid 4px;
}

.title-rotate {
  font-size: 32px;
  color: #171b1a;
  margin-top: 24px;
  margin-bottom: 8px;
  
}

.rotate-words {
  margin-left: 10px;
  width: 100%;
}

.rotate-words span {
  position: absolute;
  width: max-content;
  background-color: #00BFA6;
  padding: 0 10px;
  border-radius: 6px;
  opacity: 0;
  transform-origin: 10% 75%;
  animation: rotateWords 12s var(--d) linear infinite;
}

ul {
  list-style: none;
  margin: 48px 0;
}



ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3071E7;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
  transition: background 400ms;
}

ul li a:hover {
  background: #00BFA6;
}

footer {
  font-weight: 500;
  
  font-size: 12px;
  color: #00BFA6;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer a {
  color: #00BFA6;
}
.social-grid {
  width: 20%;
  display: flex;
  margin: auto;
  gap: 12px;
  opacity: 0.8;
  margin-top: 10px;
  
}

.spiner {
  display: flex;
  grid-template-areas: 'stack';
  align-items: center;
}

.dot {
  align-items: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00BFA6;
  grid-area: stack;
  animation: spinner 1s linear infinite alternate-reverse;
}

.dot:nth-child(2) {animation-delay: 333ms;}
.dot:nth-child(3) {animation-delay: 667ms;}




@keyframes rotateWords {
  5% {
    opacity: 1;
    transform: rotate(-1deg);
  }
  10%, 20% {
    opacity: 1;
    transform: rotate(3deg);
  }
  15% {
    transform: rotate(-1deg);
  }
  25% {
    opacity: 0;
    transform: rotate(10deg);
    transform: translateY(40px);
  }
}

@keyframes spinner {
  0% {transform: translateY(20px);}
  100% {transform: translateY(-20px);}
}
  
